{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
    <title>{% block title %} Главная {% endblock %} - Дизайн-студия Design.Pro </title>

    <!-- Добавление дополнительного статического CSS файла -->
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>-->
    <!--    <img-->
    <!--            src="{% static 'catalog/images/local_library_model_uml.png' %}"-->
    <!--            alt="My image"-->
    <!--            style="width:555px;height:540px;"/>-->
</head>

<body>
<div class="container-fluid">
    <div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="mr-md-auto p-2">Дизайн-студия Design.Pro</h5>
        {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'main:index' %}" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Профиль</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'main:profile' %}">Личный кабинет</a>
                    <a class="dropdown-item" href="{% url 'main:password_change' %}">Изменить пароль</a>
                    <div class="dropdown-divider"></div>
                    <form method="post" action="{% url 'main:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdownitem">Выйти</button>
                    </form>
                </div>
            </div>
        {% else %}
            <a class="p-2 text-dark" href="{% url 'main:register' %}">Регистрация</a>
            <a class="p-2 text-dark" href="{% url 'main:login' %}">Вход</a>
        {% endif %}
    </div>



    <div class="row">
        <div class="col-sm-10 ">{% block content %}{% endblock %}
            {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
            </div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
