{% extends "base_generic.html" %}

{% block content %}
<h1>Design.Pro</h1>
<p>
    Welcome to <em>Design.Pro</em>! Our design-studio can help you create and decorate your home with design of your
    dream!
</p>
<br>
{% if applications_done %}
<p><strong>Completed Applications:</strong></p>
<ul>
    {% for done_app in applications_done %}
    <p>Timestamp: {{ done_app.created_at }};</p>
    <p>Name: {{ done_app.name }};</p>
    <p>Category: {{ done_app.category }};</p>
    <p>Image: <img src="{{ done_app.image.url }}" alt="Photo or plan of the room"></p>
    <br>
    {% endfor %}
</ul>
{% else %}
<p>There are no completed applications.</p>
{% endif %}
<br>
<p><strong>Accepted Applications:</strong> {{ num_applications_accepted }}</p>

{% endblock %}