{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block title %} User profile {% endblock %}
{% block content %}
<h2>Profile of user {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<p>Hello, {{ user.first_name }} {{ user.last_name }}! </p>
{% else %}
<p>Welcome! </p>
{% endif %}
<h3>Your applications</h3>
{% if personal_applications %}
<ul>
    {% for ap in personal_applications %}
    <p>Timestamp: {{ pa.created_at }};</p>
    <p>Name: {{ pa.name }};</p>
    <p>Description: {{ pa.description }};</p>
    <p>Category: {{ pa.category }};</p>
    <p>Status: {{ pa.status }};</p>
    <br>
    {% endfor %}
</ul>
{% else %}
<p>There are no applications in the list.</p>
{% endif %}
{% endblock %}